.App {
  text-align: center;
}

body {
  margin: 0%;
  font-family: sans-serif;
  width: 100%;
}

.container {
  padding: 0%;
}

.lContainer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: 100%;
  background-color: #f6f6f6;
}

.lContainer h2 {
  margin-right: 10%;
  margin-bottom: 10%;
}

.spanLink {
  color: #0d4d90;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.hidden {
  display: none;
}

.lItem {
  width: 300px;
}

.centerImg {
  width: 100%;
}

tbody {
  font-size: 14px;
}

.ant-dropdown-link {
  font-size: xx-large;
}

.back {
  font-size: xx-large;
}

hr {
  margin: 0 auto;
  padding: auto;
}

/*register*/

.register-form {
  width: 300px;
}

.register-form-forgot {
  float: right;
}

.register-form-button {
  width: 100%;
}

.logomc {
  width: 80%;
  margin-top: 35%;
  margin-bottom: 15%;
}

.register-form .register-form-button {
  background-color: #0d4d90;
  border: 0;
  margin-right: 20%;
  margin-bottom: 10%;
  font-size: 110%;
}

.registerForm {
  background-color: white;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 60%;
  width: 100%;
  border-radius: 2%;
  border: 1px solid #d8d8da;
}

.register-form input {
  width: 80%;
}

.register-form button {
  width: 80%;
  height: 35px;
}

/*login*/

.login-form {
  width: 300px;
}

.login-form-forgot {
  float: right;
}

.loginForm {
  background-color: white;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 60%;
  width: 100%;
  border-radius: 2%;
  border: 1px solid #d8d8da;
}

.loginForm .login-form-button {
  background-color: #0d4d90;
  border: 0;
  margin-right: 20%;
  height: 35px;
  font-size: 110%;
}

.login-form input {
  width: 80%;
}

.login-form button {
  width: 80%;
}

/*location*/

.locationContainer a {
  background-color: #0d4d90;
  color: #f6f6f6;
  border: 0;
  margin-bottom: 15%;
  margin-top: 5%;
  width: 63%;
  height: 40px;
}

.locationContainer {
  display: grid;
  background-color: #f6f6f6;
}

.locationCol {
  margin-bottom: 10%;
  text-align: center;
}

.registeraddress {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center
}

.currentlocation {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center
}

.locationContainer img {
  width: 30%;
  margin-top: 15%;
  margin-bottom: 10%;
}

.txtLocation {
  margin-top: 10%;
}

/*dateselect*/

.dataSelectContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #f6f6f6;
  text-align: left;
}

.dataSelectContainer h3 {
  margin-top: 20%;
  margin-bottom: 25%;
}

.dataSelectContainer input {
  width: 100%;
  border-color: #0d4d90;
  border-radius: 5px;
  color: #000000;
  font-size: 14pt;
}

.dataSelectContainer #boton {
  color: #fff;
  background: #0d4d90;
  appearance: unset;
  width: 100%;
  height: 35px;
  border: 0;
  font-size: 12pt;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 50%;
}

/*dateconfirm*/

.dateConfirmContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #f6f6f6;
  text-align: left;
}

.dateConfirmContainer h3 {
  margin-top: 20%;
  margin-bottom: 20%;
}

.buttonDateConfirm a {
  color: #fff;
  background: #0d4d90;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20%;
}

.logo {
  margin-top: 10%;
  width: 35%;
  padding:0%;
}

.txtDateConfirm {
  margin-bottom: 5%;
}

/*shop*/

.shopContainer {
  background-color: #f6f6f6;
  display: grid;
}

.shopContainer .coltext {
  text-align: center;
  margin: 5% 5% 5% 5%;
}

.shopContainer h3 {
  width: auto;
}

.shopContainer .col {
  padding: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.shopContainer .shopcol {
  margin-bottom: 5%;
}

.imgStore {
  width: 13%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.shopContainer a {
  color: #fff;
  background: #0d4d90;
  width: 20%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10%;
}

/*navbar*/

.navBar1 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.navBar1 a {
  text-align: center;
  color: #fff;
  background: #0d4d90;
  border: 0;
  border-radius: 5px;
  width: 18%;
  height: 35px;
  margin-left: 1%;
  align-content: center;
  padding: 0%;
}

.navBar2 {
  margin-bottom: 1%;
}

.navBar2 .col2 {
  width: 50%;
}

.navBar2 a {
  text-align: center;
  color: #0d4d90;
  background: #f6f6f600;
  border: 0;
  border-radius: 5px;
}

/*branch*/

.BranchContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #f6f6f6;
  text-align: left;
}

.imgBranch {
  width: 20%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.BranchContainer h3 {
  margin-top: 20%;
  margin-bottom: 25%;
}

.BranchContainer p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.branch a {
  text-align: center;
  color: #fff;
  background: #0d4d90;
  border: 0;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  width: 50%;
  height: 35px;
}

/*branchconfirm*/

.branchConfirmContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #f6f6f6;
  grid-template-rows: 25vh;
  grid-template-columns: 100%;
  text-align: center;
}

.branchConfirmContainer h3 {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.branchConfirmContainer img {
  width: 35%;
  border: black 50px solid;
  border-width: 1px;
  margin-top: 3%;
}

.branchConfirmContainer a {
  text-align: center;
  color: #fff;
  background: #0d4d90;
  border: 0;
  border-radius: 5px;
  width: 25%;
  height: 35px;
  margin-top: 10%;
  margin-bottom: 15%;
}

.map {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  background-color: #f6f6f6;
}

/* index */

.indexImg {
  border-top: 1px solid #d8d8da;
}

.navIndex {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

.navIndex img {
  height: 25%;
  max-width: 25%;
  margin-left: 2%;
}

.navIndex a {
  color: #fff;
  background: #0d4d90;
  margin-right: 2%;
  border-radius: 5px;
  border: none;
  width: 30%;
  font-size: 110%;
  height: 35px;
}

.navIndex .buttons {
  align-items: center;
  margin-top: 1%;
  text-align: end;
  width: 100%;
}

.fondoGris1 {
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
}

.fondoGris1 .col {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  width: 25%;
  padding-left: 2%;
  padding-right: 2%;
}

.fondoGris1 img {
  width: 45%;
  margin-bottom: 5%;
}

.fondoGris1 h6 {
  font-size: 1.8vw;
}

.tituloSeparadorIndex {
  text-align: center;
  margin-top: 8%;
}

.tituloSeparadorIndex h1 {
  font-size: 3vw;
}

.cadenas {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}

.cadenas img {
  width: 10%;
  margin-bottom: 8%;
}

.compras img {
  width: 100%;
}

.tituloSeparadorIndex2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
}

.tituloSeparadorIndex2 h2 {
  font-size: 2.5vw;
}

.fondoGris2 {
  margin-top: 3%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
}

.fondoGris3 {
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
}

.fondoGris2 img {
  margin-top: 3%;
  margin-bottom: 2%;
  width: 10%;
  margin-left: 10%;
}

.fondoGris2 h6 {
  margin-top: 7%;
  margin-left: 5%;
  font-size: 2vw;
}

.fondoGris3 img {
  margin-top: 3%;
  margin-bottom: 4%;
  width: 10%;
  margin-left: 10%;
}

.fondoGris3 h6 {
  margin-top: 7%;
  margin-left: 5%;
  font-size: 2vw;
}

/* FOOTER */

footer {
  position: relative;
  width: 100%;
  background: #0d4d90;
  padding: 40px 0;
  top: 100%;
  bottom: 0%;
  clear: both;
}

footer .contenedor {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

footer p {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 10pts;
}

footer img {
  transform: rotate(0);
  transition: 0.4s;
  width: 15%;
  margin-right: 3%;
}

footer .redes {
  width: 33%;
  text-align: right;
  margin-right: 2%;
}

footer .redes img {
  width: 10%;
}

footer .parrafo {
  width: 33%;
  margin-left: 3%;
  margin-top: 3%;
}

footer .logoArgenDevFooter img {
  width: 50%;
}

footer .logoArgenDevFooter {
  width: 33%;
  text-align: center;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

/*FIN FOOTER*/